{% for include in to_list(includes) %}
include		{{ include }}
{% endfor %}

pidfile		{{ pidfile }}

allow		bind_v2
modulepath	/usr/lib/ldap
moduleload	back_bdb
database	bdb

suffix		"dc=localhost"

directory	{{ directory }}

dbconfig	set_cachesize		0 268435456 1
dbconfig	set_lg_regionmax	262144
dbconfig	set_lg_bsize		2097152

#index		objectClass eq
{% for index in to_list(indexes) %}
index		{{ index }}
{% endfor %}

